In [1]:

import pandas as pd
from matplotlib import pyplot as plt

In [5]:
hackatons = pd.read_csv(r"C:\Users\Usuario\Data Engineering insa\final_project\DataEngProject\csv_data\customer_db\hackatons.csv")
print(hackatons.head())

                        _id  \
0  637cf0e0b6e321016d07f0b6
1  637cf0e0b6e321016d07f0b7
2  637cf0e0b6e321016d07f0b8
3  637cf0e0b6e321016d07f0b9
4  637cf0e0b6e321016d07f0ba

                          hackathon-description-text  \
0  \nNew York State’s Metropolitan Transit Author...
1  \nWhat would you do with real-time GTFS data f...
2  \n現代城市面臨眾多巨變和挑戰：氣候變遷、人口老化所帶來的衝擊，以及大眾運輸、都市更新引發的...
3                \nExpedia is hosting a hackathon at
4  \nLove creating stuff on your computer and LOV...

   hackathon-number-of-prizes                    hackathon-id  \
0                           9                 2013mtaappquest
1                          10                 2014mtaappquest
2                           3                     2015hackntu
3                           3  2016-expedia-hackathon-chicago
4                          11             2016baseballhackday

              hackathon-judges.0.judge-role hackathon-judges.0.judge-name  \
0  Senior Director of Capital Programs, MTA                 Craig Stewart
1                President of AT&T New York           Marissa Shorenstein
2                                       NaN                       HackNTU
3                 Senior Director / Expedia                 Pascal Collet
4                        MLB Advanced Media                 Staff members

        hackathon-judges.1.judge-role hackathon-judges.1.judge-name  \
0          President of AT&T New York           Marissa Shorenstein
1  Chief Data Officer, New York State               Barbara L. Cohn
2                                 NaN                           NaN
3           Senior Director / Expedia                Ryan Kowalczyk
4                                 NaN                           NaN

                       hackathon-judges.2.judge-role  \
0                          NYC Chief Digital Officer
1                                      TechnoBuffalo
2                                                NaN
3  Director, Technology, Strategic Initiatives Ca...
4                                                NaN

  hackathon-judges.2.judge-name  ...  \
0                   Rachel Haot  ...
1                 Todd Haselton  ...
2                           NaN  ...
3            Philippe Deschenes  ...
4                           NaN  ...

  hackathon-judging-criteria.6.judging-criterion  \
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN

  hackathon-judging-criteria.7.judging-criterion  \
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN

  hackathon-judging-criteria.8.judging-criterion  \
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN

  hackathon-judging-criteria.9.judging-criterion  \
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN

                     hackathon-location-address  \
0                                           NaN
1                                           NaN
2                                           NaN
3  20 N Upper Wacker Dr, Chicago, IL 60606, USA
4                                           NaN

                        hackathon-description-header hackathon-prizes-total  \
0  See how developers changed the way 8.5 million...                $50,000
1  More data. More connectivity. More smartphone ...                $50,000
2           Create any topic you would like to hack!                $10,675
3                Create apps to revolutionize travel                 $8,000
4  Fun, friendly, free, one-day, on-site hacking/...                 $7,040

                      hackathon-location-description hackathon-end-date  \
0                                                NaN         2014-03-24
1                                                NaN         2015-02-03
2                                                NaN                NaN
3                                          TechNexus                NaN
4  5 locations: Boston, Philadelphia, Montreal, C...         2016-03-19

  has-projects
0         True
1         True
2        False
3        False
4         True

[5 rows x 130 columns]

In [6]:
participants = pd.read_csv(r"C:\Users\Usuario\Data Engineering insa\final_project\DataEngProject\csv_data\customer_db\participants.csv")
print(participants.head())

                        _id  participant-likes  participant-projects  \
0  637cf0e0db0b0ee0254416e7                  1                     2
1  637cf0e0db0b0ee0254416e8                  0                     1
2  637cf0e0db0b0ee0254416e9                  0                     3
3  637cf0e0db0b0ee0254416ea                  0                     1
4  637cf0e0db0b0ee0254416eb                  2                     5

                  participant-url participant-name  participant-followers  \
0      https://devpost.com/4n3ver        Yoel Ivan                      1
1       https://devpost.com/88250       Liang Ding                      2
2  https://devpost.com/aaronkoons      Aaron Koons                      1
3   https://devpost.com/Ab3PHilip   Abraham Philip                      1
4  https://devpost.com/abeSanchez      abe sanchez                      0

                 participant-location participant-bio participant-id  \
0                     Atlanta, GA, US             NaN         4n3ver
1              Kunming, Yunnan, China             NaN          88250
2  Rochester, New York, United States             NaN     aaronkoons
3  Exton, Pennsylvania, United States             NaN      Ab3PHilip
4     Orlando, Florida, United States             NaN     abeSanchez

                   participant-linkedin  ... participant-skills.18.name  \
0  https://www.linkedin.com/in/yoelivan  ...                        NaN
1                                   NaN  ...                        NaN
2                                   NaN  ...                        NaN
3                                   NaN  ...                        NaN
4                                   NaN  ...                        NaN

  participant-skills.19.url  participant-skills.19.name  \
0                       NaN                         NaN
1                       NaN                         NaN
2                       NaN                         NaN
3                       NaN                         NaN
4                       NaN                         NaN

   participant-skills.20.url  participant-skills.20.name  \
0                        NaN                         NaN
1                        NaN                         NaN
2                        NaN                         NaN
3                        NaN                         NaN
4                        NaN                         NaN

  participant-skills.21.url participant-skills.21.name  \
0                       NaN                        NaN
1                       NaN                        NaN
2                       NaN                        NaN
3                       NaN                        NaN
4                       NaN                        NaN

  participant-skills.22.url participant-skills.22.name participant-twitter
0                       NaN                        NaN                 NaN
1                       NaN                        NaN                 NaN
2                       NaN                        NaN                 NaN
3                       NaN                        NaN                 NaN
4                       NaN                        NaN                 NaN

[5 rows x 62 columns]

In [7]:
projects = pd.read_csv(r"C:\Users\Usuario\Data Engineering insa\final_project\DataEngProject\csv_data\customer_db\projects.csv")
print(projects.head())

                        _id hackathon-id  hackathon-winner  \
0  637cf0e069d39c94132a81d9          NaN             False
1  637cf0e069d39c94132a81da  sdhacks2017             False
2  637cf0e069d39c94132a81db          NaN             False
3  637cf0e069d39c94132a81dc       mhacks             False
4  637cf0e069d39c94132a81dd  2017circles             False

   project-technologies-used  \
0                          0
1                          4
2                          2
3                          0
4                          0

                                       project-video project-basis  \
0                                                NaN           NaN
1                                                NaN           NaN
2                                                NaN           NaN
3                                                NaN           NaN
4  https://www.youtube.com/embed/00yGYjJtHog?enab...           NaN

                      project-technologies.0.url project-technologies.0.name  \
0                                            NaN                         NaN
1   https://devpost.com/software/built-with/html                        html
2  https://devpost.com/software/built-with/ionic                       ionic
3                                            NaN                         NaN
4                                            NaN                         NaN

                          project-technologies.1.url  \
0                                                NaN
1     https://devpost.com/software/built-with/python
2  https://devpost.com/software/built-with/angula...
3                                                NaN
4                                                NaN

  project-technologies.1.name  ... team.5.participant-desc  \
0                         NaN  ...                     NaN
1                      python  ...                     NaN
2                  angular.js  ...                     NaN
3                         NaN  ...                     NaN
4                         NaN  ...                     NaN

  team.5.participant-url team.5.participant-id team.6.participant-bubble  \
0                    NaN                   NaN                       NaN
1                    NaN                   NaN                       NaN
2                    NaN                   NaN                       NaN
3                    NaN                   NaN                       NaN
4                    NaN                   NaN                       NaN

  team.6.participant-name team.6.participant-desc team.6.participant-url  \
0                     NaN                     NaN                    NaN
1                     NaN                     NaN                    NaN
2                     NaN                     NaN                    NaN
3                     NaN                     NaN                    NaN
4                     NaN                     NaN                    NaN

  team.6.participant-id                                        project-url  \
0                   NaN                https://devpost.com/software/-5une2
1                   NaN                 https://devpost.com/software/14all
2                   NaN             https://devpost.com/software/1504scout
3                   NaN            https://devpost.com/software/27-minutes
4                   NaN  https://devpost.com/software/360-live-vr-robotics

             project-id
0                -5une2
1                 14all
2             1504scout
3            27-minutes
4  360-live-vr-robotics

[5 rows x 90 columns]

In [8]:
hackatons.sample(5)

,_id,hackathon-description-text,hackathon-number-of-prizes,hackathon-id,hackathon-judges.0.judge-role,hackathon-judges.0.judge-name,hackathon-judges.1.judge-role,hackathon-judges.1.judge-name,hackathon-judges.2.judge-role,hackathon-judges.2.judge-name,...,hackathon-judging-criteria.6.judging-criterion,hackathon-judging-criteria.7.judging-criterion,hackathon-judging-criteria.8.judging-criterion,hackathon-judging-criteria.9.judging-criterion,hackathon-location-address,hackathon-description-header,hackathon-prizes-total,hackathon-location-description,hackathon-end-date,has-projects
187,637cf0e2b6e321016d07f171,\n10:00AM Registration,3,hackdrew,Professor,Emily Hill,Professor,Barry Burd,NaN,NaN,...,NaN,NaN,NaN,NaN,"36 Madison Ave, Madison, NJ 07940, USA",Create awesome applications with software or h...,$150,Drew University- Learning Center 28,2017-04-23,True
364,637cf0e4b6e321016d07f222,\nBuild anything at all - we have a bunch of h...,8,oxhack,OxHACK,Taimur Abdaal,OxHACK,James May,Mendeley,Joyce Stack,...,NaN,NaN,NaN,NaN,"Saïd Business School, Oxford",Oxford's first ever hackathon.,"$2,347",NaN,2014-11-30,True
428,637cf0e4b6e321016d07f262,\nA hackathon is where you turn your crazy ide...,1,startupucsd,UCSD,Martin Arreola,NSF I-Corps Program Coordinator at UCSD,Jay Gilberg,"Managing Director, Research Translation Group ...",Jay Kunin,...,NaN,NaN,NaN,NaN,"9730 Hopkins Dr, La Jolla, CA 92093, USA",Make something people want,"$18,000","University of California, San Diego",2016-05-14,True
754,637cf207869826b131a512c0,\nHackTheU is Utah's most innovative hackathon...,8,hacktheu,"The Void, CVO",James Jensen,"MD, PhD, MPH, MBA",John Langell,"Morph3D, AR/VR Director",Chris Madsen,...,NaN,NaN,NaN,NaN,"1701 Student Life Way, Salt Lake City, UT 8411...",HackTheU is Utah's most innovative hackathon,"$5,620","University of Utah, Lassonde Studios",2016-11-13,True
365,637cf0e4b6e321016d07f223,\n,6,packhacks,NaN,Ziad Ali,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Engineering Bldg II, 890 Oval Dr, Raleigh, NC ...",NC State's Hackathon!,"$2,170",NC State Unversity - Engineering Building II,2018-04-22,True

In [19]:
hackatons.describe()

,hackathon-number-of-prizes,hackathon-number-of-judges,hackathon-number-of-judging-criteria,hackathon-judging-criteria.9.judging-criterion
count,1000.00000,1000.000000,1000.000000,0.0
mean,6.62600,4.544000,3.458000,NaN
std,5.81377,4.204967,1.714402,NaN
min,1.00000,0.000000,0.000000,NaN
25%,3.00000,1.000000,2.000000,NaN
50%,5.00000,4.000000,4.000000,NaN
75%,8.25000,6.000000,4.000000,NaN
max,39.00000,28.000000,10.000000,NaN

In [10]:
hackatons.columns

Index(['_id', 'hackathon-description-text', 'hackathon-number-of-prizes',
       'hackathon-id', 'hackathon-judges.0.judge-role',
       'hackathon-judges.0.judge-name', 'hackathon-judges.1.judge-role',
       'hackathon-judges.1.judge-name', 'hackathon-judges.2.judge-role',
       'hackathon-judges.2.judge-name',
       ...
       'hackathon-judging-criteria.6.judging-criterion',
       'hackathon-judging-criteria.7.judging-criterion',
       'hackathon-judging-criteria.8.judging-criterion',
       'hackathon-judging-criteria.9.judging-criterion',
       'hackathon-location-address', 'hackathon-description-header',
       'hackathon-prizes-total', 'hackathon-location-description',
       'hackathon-end-date', 'has-projects'],
      dtype='object', length=130)

In [ ]:
### Handling duplicates

In [21]:
dupes = hackatons.duplicated()
dupes

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [18]:
dupes1 dupes1

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
data_1 = data_1.drop_duplicates()
data_1.shape

In [ ]:
### Handling Missing Data

In [ ]:
data_1.isnull().sum()

In [ ]:
#Now we are going to work with participants

In [10]:
participants_pandas = pd.DataFrame(list(participants.find()))

In [17]:
participants_pandas.sample(10)

,_id,hackathon-description-text,hackathon-number-of-prizes,hackathon-id,hackathon-judges,hackathon-number-of-judges,hackathon-eligibility,hackathon-number-of-participants,hackathon-is-colocated,hackathon-has-ended,...,participant-bio,participant-id,participant-linkedin,participant-website,participant-github,participant-hackathons,participant-following,participant-number-of-skills,participant-skills,participant-twitter
40,6378fabf0c32f46426b7f561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,aaronkoons,,,,3,3,2,[{'url': 'https://devpost.com/software/built-w...,
7,6378e6ba0c32f46426b7f529,\n,4,a4s2015,"[{'judge-role': 'AFT', 'judge-name': 'Vincent ...",1,,16,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6378e6ba0c32f46426b7f530,\nJoin us for our 1st annual Android Summit Ha...,3,android-summit-hackathon,"[{'judge-role': '', 'judge-name': 'Hackers!'}]",1,\nMust sign up through EventBrite registration...,32,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,6378fabf0c32f46426b7f563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,abeSanchez,,https://github.com/abe-sanchez,https://github.com/abe-sanchez,4,3,8,[{'url': 'https://devpost.com/software/built-w...,
23,6378f45a0c32f46426b7f53c,\nLove creating stuff on your computer and LOV...,11,2016baseballhackday,"[{'judge-role': 'MLB Advanced Media', 'judge-n...",1,"\nTo be eligible, you do need to be on-site at...",61,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,6378fabf0c32f46426b7f571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,ahmedbekhit,,http://ahmedbekhit.com/,https://github.com/AFathi,9,2,4,[{'url': 'https://devpost.com/software/built-w...,
59,6378fabf0c32f46426b7f574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,aldyl,,,https://github.com/https://github.com/aldyleon...,1,3,4,[{'url': 'https://devpost.com/software/built-w...,
65,6378fabf0c32f46426b7f57a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,''Perhaps I was too saucy and provoking''\n-Be...,alugo,,http://alugocp.github.io/webdesign,https://github.com/alugocp,1,3,5,[{'url': 'https://devpost.com/software/built-w...,https://twitter.com/alugocp
46,6378fabf0c32f46426b7f567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,achow101,,http://achow101.com,https://github.com/achow101,2,0,5,[{'url': 'https://devpost.com/software/built-w...,
45,6378fabf0c32f46426b7f566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,abrar-sammia,https://ca.linkedin.com/in/sammiaabrar,http://sammia-abrar.tumblr.com,https://github.com/abrar-sammia,1,4,0,[],

In [19]:
participants_pandas.describe()

,_id,hackathon-description-text,hackathon-number-of-prizes,hackathon-id,hackathon-judges,hackathon-number-of-judges,hackathon-eligibility,hackathon-number-of-participants,hackathon-is-colocated,hackathon-has-ended,...,participant-bio,participant-id,participant-linkedin,participant-website,participant-github,participant-hackathons,participant-following,participant-number-of-skills,participant-skills,participant-twitter
count,68,38,38,38,38,38,38,38,38,38,...,30,30,30,30,30,30,30,30,30,30
unique,68,19,9,19,19,8,14,17,2,2,...,8,30,11,22,20,7,8,14,27,8
top,6378e6ba0c32f46426b7f522,\nNew York State’s Metropolitan Transit Author...,3,2013mtaappquest,[{'judge-role': 'Senior Director of Capital Pr...,1,,61,True,True,...,,4n3ver,,,,1,0,2,[],
freq,1,2,10,2,2,16,12,4,22,26,...,23,1,20,9,11,13,16,4,4,23

In [20]:
participants_pandas.columns

Index(['_id', 'hackathon-description-text', 'hackathon-number-of-prizes',
       'hackathon-id', 'hackathon-judges', 'hackathon-number-of-judges',
       'hackathon-eligibility', 'hackathon-number-of-participants',
       'hackathon-is-colocated', 'hackathon-has-ended',
       'hackathon-number-of-judging-criteria', 'hackathon-requirements',
       'hackathon-rules', 'hackathon-prizes', 'hackathon-location-google-maps',
       'hackathon-url', 'hackathon-judging-criteria',
       'hackathon-location-address', 'hackathon-description-header',
       'hackathon-prizes-total', 'hackathon-location-description',
       'hackathon-end-date', 'has-projects', 'participant-likes',
       'participant-projects', 'participant-url', 'participant-name',
       'participant-followers', 'participant-location', 'participant-bio',
       'participant-id', 'participant-linkedin', 'participant-website',
       'participant-github', 'participant-hackathons', 'participant-following',
       'participant-number-of-skills', 'participant-skills',
       'participant-twitter'],
      dtype='object')

In [ ]:
# # # We can observe that some of the columns have compound information, e.g. Body Dimension and Body weight. Also, some records have meaningless data. Also, some columns are irrelevant to the analysis, like the Picture url.
# # # So, we will do the following.
# # # - Drop irrelevant columns, e.g. Picture url
# # # - Drop records with meaningless data. We can drop records for which columns like Body dimensions, Body weight and display resolution are less than 20 characters long.

In [ ]:
data_2 = data_2.drop('Picture URL small', axis =1)
data_2.columns

In [ ]:
data_2 = data_2.rename (columns = {'Body Dimensions':'BodyDimensions', 'Body Weight':'BodyWeight', 'Display Resolution':'DisplayResolution'})
data_2.dtypes

In [ ]:
data_2.info()
#data_2.info(memory_usage='deep')

In [ ]:
#We can observe that Pandas is not able to infer the type on its own for the non-ID columns. So, let's enforce the type

In [ ]:
data_2['Brand']= data_2['Brand'].astype('str')
data_2['Phone']= data_2['Phone'].astype('str')
data_2['BodyDimensions']= data_2['BodyDimensions'].astype('str')
data_2['BodyWeight']= data_2['BodyWeight'].astype('str')
data_2['DisplayResolution']= data_2['DisplayResolution'].astype('str')

In [ ]:

price_ranges = pd.read_csv('./data/input/price_ranges.csv', header=0, names=['price_range', 'Min', 'Max'])

joined_data = (final_data_1
               .join(final_data_2,how='inner')
               .join(price_ranges,how='inner',on='price_range',rsuffix='_r')
              )

joined_data.head()

In [ ]:
joined_data.shape

In [ ]:
joined_data.to_csv('./data/output/ready_for_analysis.csv')