# Data Pre-processing
<p float="left">
<img src="https://upload.wikimedia.org/wikipedia/en/3/39/Tartu_%C3%9Clikool_logo.svg" width="100"/>
</p>

In [4]:
import pandas as pd
import numpy as np
import warnings

from pymongo import MongoClient
from matplotlib import pyplot as plt

In [3]:
pd

## Pre-processing the first data set

### Profiling
First we do some generic profiling. We check the shape, the data types, the columns and a general statistical description of the data.

In [8]:
conn = MongoClient('localhost', 27017)
mydb = conn['data_eng_db']
participants_frame  = pd.DataFrame(list(mydb['participants'].find()))

In [9]:
# check amount of rows and columns 
participants_frame.shape

(2000, 17)

In [10]:
participants_frame.dtypes

_id                             object
participant-likes               object
participant-projects            object
participant-url                 object
participant-name                object
participant-followers           object
participant-location            object
participant-bio                 object
participant-id                  object
participant-linkedin            object
participant-website             object
participant-github              object
participant-hackathons          object
participant-following           object
participant-number-of-skills    object
participant-skills              object
participant-twitter             object
dtype: object

In [11]:
participants_frame.describe()

,_id,participant-likes,participant-projects,participant-url,participant-name,participant-followers,participant-location,participant-bio,participant-id,participant-linkedin,participant-website,participant-github,participant-hackathons,participant-following,participant-number-of-skills,participant-skills,participant-twitter
count,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000
unique,2000,11,12,500,500,19,282,45,500,91,227,219,14,16,24,297,46
top,637cdbf3a542eaf7a0848549,0,1,https://devpost.com/4n3ver,Yoel Ivan,0,,,4n3ver,,,,1,0,0,[],
freq,1,1388,1468,4,4,1236,344,1824,4,1640,1096,1128,1196,1540,576,576,1820

In [13]:
participants_frame.head()

,_id,participant-likes,participant-projects,participant-url,participant-name,participant-followers,participant-location,participant-bio,participant-id,participant-linkedin,participant-website,participant-github,participant-hackathons,participant-following,participant-number-of-skills,participant-skills,participant-twitter
0,637cdbf3a542eaf7a0848549,1,2,https://devpost.com/4n3ver,Yoel Ivan,1,"Atlanta, GA, US",,4n3ver,https://www.linkedin.com/in/yoelivan,https://github.com/4n3ver,https://github.com/4n3ver,2,0,18,[{'url': 'https://devpost.com/software/built-w...,
1,637cdbf4a542eaf7a084854a,0,1,https://devpost.com/88250,Liang Ding,2,"Kunming, Yunnan, China",,88250,,http://88250.b3log.org,,1,2,2,[{'url': 'https://devpost.com/software/built-w...,
2,637cdbf4a542eaf7a084854b,0,3,https://devpost.com/aaronkoons,Aaron Koons,1,"Rochester, New York, United States",,aaronkoons,,,,3,3,2,[{'url': 'https://devpost.com/software/built-w...,
3,637cdbf4a542eaf7a084854c,0,1,https://devpost.com/Ab3PHilip,Abraham Philip,1,"Exton, Pennsylvania, United States",,Ab3PHilip,,https://github.com/Ab3Philip,https://github.com/Ab3Philip,0,0,3,[{'url': 'https://devpost.com/software/built-w...,
4,637cdbf4a542eaf7a084854d,2,5,https://devpost.com/abeSanchez,abe sanchez,0,"Orlando, Florida, United States",,abeSanchez,,https://github.com/abe-sanchez,https://github.com/abe-sanchez,4,3,8,[{'url': 'https://devpost.com/software/built-w...,

In [14]:
participants_frame.columns

Index(['_id', 'participant-likes', 'participant-projects', 'participant-url',
       'participant-name', 'participant-followers', 'participant-location',
       'participant-bio', 'participant-id', 'participant-linkedin',
       'participant-website', 'participant-github', 'participant-hackathons',
       'participant-following', 'participant-number-of-skills',
       'participant-skills', 'participant-twitter'],
      dtype='object')

### Handling duplicates

In [20]:
dupes = participants_frame['participant-url'].duplicated()

In [22]:
dupes

0       False
1       False
2       False
3       False
4       False
        ...
1995     True
1996     True
1997     True
1998     True
1999     True
Name: participant-url, Length: 2000, dtype: bool

In [33]:
#participants_no_duplicate = participants_frame.drop(participants_frame['participant-url'].duplicated()=True.index)
#participants_no_duplicate.shape
#pd.concat(g for _, g in participants_frame.groupby('participant-url') if len(g) > 1)
participants_no_duplicata = participants_frame.groupby('participant-url').first().reset_index()
participants_no_duplicata.describe()

,participant-url,_id,participant-likes,participant-projects,participant-name,participant-followers,participant-location,participant-bio,participant-id,participant-linkedin,participant-website,participant-github,participant-hackathons,participant-following,participant-number-of-skills,participant-skills,participant-twitter
count,500,500,500,500,500,500,500,500,500,500,500,500,500,500,500,500,500
unique,500,500,11,12,500,19,282,45,500,91,227,219,14,16,24,297,46
top,https://devpost.com/4n3ver,637cdbf3a542eaf7a0848549,0,1,Yoel Ivan,0,,,4n3ver,,,,1,0,0,[],
freq,1,1,347,367,1,309,86,456,1,410,274,282,299,385,144,144,455

In [34]:
participants_no_duplicata.head()

,participant-url,_id,participant-likes,participant-projects,participant-name,participant-followers,participant-location,participant-bio,participant-id,participant-linkedin,participant-website,participant-github,participant-hackathons,participant-following,participant-number-of-skills,participant-skills,participant-twitter
0,https://devpost.com/4n3ver,637cdbf3a542eaf7a0848549,1,2,Yoel Ivan,1,"Atlanta, GA, US",,4n3ver,https://www.linkedin.com/in/yoelivan,https://github.com/4n3ver,https://github.com/4n3ver,2,0,18,[{'url': 'https://devpost.com/software/built-w...,
1,https://devpost.com/88250,637cdbf4a542eaf7a084854a,0,1,Liang Ding,2,"Kunming, Yunnan, China",,88250,,http://88250.b3log.org,,1,2,2,[{'url': 'https://devpost.com/software/built-w...,
2,https://devpost.com/Ab3PHilip,637cdbf4a542eaf7a084854c,0,1,Abraham Philip,1,"Exton, Pennsylvania, United States",,Ab3PHilip,,https://github.com/Ab3Philip,https://github.com/Ab3Philip,0,0,3,[{'url': 'https://devpost.com/software/built-w...,
3,https://devpost.com/AbhinashKhanal,637cdbf4a542eaf7a084854e,0,1,Abhinash Khanal,0,"Albany, New York, United States",,AbhinashKhanal,https://www.linkedin.com/in/abhikhanal,http://www.linkedin.com/in/abhikhanal,https://github.com/khanal-abhi,1,0,10,[{'url': 'https://devpost.com/software/built-w...,
4,https://devpost.com/AbnerCastro,637cdbf4a542eaf7a084854f,0,6,Abner Castro,2,"Mexico City, Federal District, Mexico",,AbnerCastro,,https://github.com/abnerabbey,https://github.com/abnerabbey,7,0,4,[{'url': 'https://devpost.com/software/built-w...,

### Handling Missing Data

In [36]:
participants_no_duplicata.isnull()

,participant-url,_id,participant-likes,participant-projects,participant-name,participant-followers,participant-location,participant-bio,participant-id,participant-linkedin,participant-website,participant-github,participant-hackathons,participant-following,participant-number-of-skills,participant-skills,participant-twitter
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### Handling outliers
Another type of profiling is to check for legitimate values and handling outliers. We need to do that with numerical values only.

In [ ]:
numerical_data = data_1.drop(['id','phone_id', 'bluetooth', 'dual_sim', 'four_g', 'three_g', 
                          'touch_screen', 'wifi', 'price_range'], axis=1)
numerical_data.head()

In [ ]:
categorical_data = data_1[['id', 'phone_id','bluetooth', 'dual_sim', 'four_g', 'three_g', 
                         'touch_screen', 'wifi', 'price_range']]
categorical_data.head()

In [ ]:
# view a single column's outliers
sns.boxplot(data=numerical_data['ram'],
            orient = 'v')

In [ ]:
# view all columns
bp = sns.boxplot(data = numerical_data)

bp.set_xticklabels(bp.get_xticklabels(), rotation=90)

To better visualize, you may want to standardize the values of the columns.

In [ ]:

scaler = StandardScaler()

scaled_array = scaler.fit_transform(numerical_data)

In [ ]:
scaled_data = pd.DataFrame(scaled_array, columns = numerical_data.columns)

scaled_data.head()

In [ ]:
scaled_data.describe()

In [ ]:
bp = sns.boxplot(data = scaled_data)

bp.set_xticklabels(bp.get_xticklabels(), rotation=90)

In [ ]:
# we can use Interquartile range (IQR) to distinguish outliers 
Q1 = numerical_data.quantile(0.25)
Q3 = numerical_data.quantile(0.75)

IQR = Q3 - Q1

print(IQR)

In [ ]:
outliers_removed_data = numerical_data[~ ((numerical_data < (Q1 - 1.5 * IQR)) \
                                     | (numerical_data > (Q3 + 1.5 * IQR))).any(axis=1)]

outliers_removed_data.shape

In [ ]:
bp = sns.boxplot(data = outliers_removed_data)

bp.set_xticklabels(bp.get_xticklabels(), rotation=90)

### Put things together

In [ ]:
final_data_1 = outliers_removed_data.join(categorical_data, how='inner')
final_data_1.head()

### Write this part of the data to disk

In [ ]:
final_data_1.to_csv('./data/output/mobile_data_1_cleaned.csv', index = False)

## Pre-processing the second data set

In [ ]:
data_2 = pd.read_csv('./data/input/mobile_data_2.csv')

In [ ]:
data_2.head(30)

We can observe that some of the columns have compound information, e.g. Body Dimension and Body weight. Also, some records have meaningless data. Also, some columns are irrelevant to the analysis, like the Picture url.
So, we will do the following.
- Drop irrelevant columns, e.g. Picture url
- Drop records with meaningless data. We can drop records for which columns like Body dimensions, Body weight and display resolution are less than 20 characters long.

In [ ]:
data_2 = data_2.drop('Picture URL small', axis =1)
data_2.columns

In [ ]:
data_2 = data_2.rename (columns = {'Body Dimensions':'BodyDimensions', 'Body Weight':'BodyWeight', 'Display Resolution':'DisplayResolution'})
data_2.dtypes

In [ ]:
data_2.info()
#data_2.info(memory_usage='deep')

We can observe that Pandas is not able to infer the type on its own for the non-ID columns. So, let's enforce the type

In [ ]:
data_2['Brand']= data_2['Brand'].astype('str')
data_2['Phone']= data_2['Phone'].astype('str')
data_2['BodyDimensions']= data_2['BodyDimensions'].astype('str')
data_2['BodyWeight']= data_2['BodyWeight'].astype('str')
data_2['DisplayResolution']= data_2['DisplayResolution'].astype('str')

In [ ]:
meaningful_data_2 = data_2[(data_2['BodyWeight'].str.len() > 10) & (data_2['DisplayResolution'].str.len() > 20)]

In [ ]:
data_2.shape

In [ ]:
meaningful_data_2.shape

We need to extract the weight as a new column for the value of grams only. We can achieve that by assuming that we split the string describing the weight by the **g** character.

In [ ]:
WeightInGrams = meaningful_data_2.apply(lambda row: row['BodyWeight'].split('g')[0].strip(), axis=1)

In [ ]:
WeightInGrams

In [ ]:
meaningful_data_2['WeightInGrams'] = WeightInGrams 
# make a copy beforehand to avoid circular reference and/or making unwanted changes in previous dataframes
# meaningful_data_3 = meaningful_data_2.copy()

In [ ]:
meaningful_data_3.shape

In [ ]:
meaningful_data_3.sample(100)

We can notice in the original data that the ''BodyWeight'' column has actually multiple values. For example, we can find value like _331 g (Wi-Fi) / 341 g (3G/LTE) (11.68 oz);_. This means that there are different weights for different configurations. Our objective is to create a new row for each different weight and put another column called configuration.

One way is to first get those rows that have multiple weight values

In [ ]:
multiple_weight_phones = meaningful_data_3[(meaningful_data_3['BodyWeight'].str.find('/') > -1 ) | (meaningful_data_3['BodyWeight'].str.find(',') > -1 )]

In [ ]:
multiple_weight_phones.shape

In [ ]:
multiple_weight_phones

Let's first unify the splitting character. We make sure that ',' is transformed to '/'. Also, we have another occurrence of '/' in some configurations e.g., (3G/LTE). In this case, this will complicate the splitting. The relevant occurrence of weight separators is followed by a space. So, we make another replacement where we replace '/ ' with '//'

In [ ]:
unifiedSeparator = multiple_weight_phones.apply (lambda row: row['BodyWeight'].replace(',','/').replace('/ ','//'), axis=1)

In [ ]:
unifiedSeparator.head()

In [ ]:
multiple_weight_phones = multiple_weight_phones.drop(['BodyWeight'], axis=1)
multiple_weight_phones.shape

In [ ]:
multiple_weight_phones['BodyWeight'] =unifiedSeparator
multiple_weight_phones.shape

In [ ]:
multiple_weight_phones['BodyWeight']

In [ ]:
multiple_weight_2 = multiple_weight_phones.apply(lambda row: row['BodyWeight'].split('//'), axis=1).explode()
multiple_weight_2.head()

In [ ]:
multiple_weights_3 = multiple_weight_phones.join(pd.DataFrame(multiple_weight_2,columns=['Config']))
multiple_weights_3.head()

In [ ]:
multiple_weights_3.columns

In [ ]:
multiple_weights_3 = multiple_weights_3.drop(['Brand', 'Phone', 'BodyDimensions', 'DisplayResolution',
       'WeightInGrams', 'BodyWeight'], axis=1)
multiple_weights_3.head()

Now, we can split the config column to weight and config

In [ ]:
weight = multiple_weights_3.apply(lambda row: row['Config'].split('g')[0].strip(), axis=1)
weight.head()

In [ ]:
config = multiple_weights_3.apply(lambda row: row['Config'].split('g')[1].strip().split(')')[0][1:], axis=1)
config.head()

In [ ]:
multiple_weights_3= multiple_weights_3.drop(['Config'], axis = 1)
multiple_weights_3.columns

In [ ]:
multiple_weights_3['Config'] = config

In [ ]:
multiple_weights_3['Weight'] = weight

In [ ]:
multiple_weights_3.head()

In [ ]:
meaningful_data_4 = meaningful_data_3.join(multiple_weights_3, how='left',rsuffix='_multiple')

In [ ]:
meaningful_data_4.sample(50)

In [ ]:
meaningful_data_4 = meaningful_data_4.drop(['ID_multiple'], axis=1)

In [ ]:
meaningful_data_4.sample(50)

In [ ]:
meaningful_data_4['Weight'].fillna(meaningful_data_4['WeightInGrams'], inplace=True)

In [ ]:
meaningful_data_4.sample(50)

In [ ]:
meaningful_data_4 = meaningful_data_4.drop(['WeightInGrams'], axis=1)

In [ ]:
meaningful_data_4.head(20)

Checking the dataframes held in memory

In [ ]:
%whos DataFrame

In [ ]:
# Find the memory footprint
df_list = []    
for var in dir():
    if isinstance(locals()[var], pd.core.frame.DataFrame) and var[0] != '_':
        df_list.append(var)

In [ ]:
memory_cons = 0
for d in df_list:
    memory_cons += locals()[d].memory_usage(deep=True).sum()

print(f'Total memory consumed by dataframes: {round(memory_cons/1024/1024,1)} MB')

#### Assignment

In [ ]:
# Fill the empty "Config" column in the meaningful_data_4 dataframe with value "Standard"

config_values = meaningful_data_4['Config'].fillna('Standard')
meaningful_data_5 = meaningful_data_4
meaningful_data_5['Config'] = config_values
meaningful_data_5.head(50)

In [ ]:
# Transform the body dimensions and get separate height, width, and depth dimensions in mm

dimensions = meaningful_data_5.apply(lambda row: row['BodyDimensions'].split('mm')[0].strip(), axis=1)
dimensions.head()

In [ ]:
height_dim = dimensions.apply(lambda row: row.split(' x ')[0].strip())
width_dim = dimensions.apply(lambda row: row.split(' x ')[1].strip())
depth_dim = dimensions.apply(lambda row: row.split(' x ')[2].strip())

In [ ]:
height_dim.head()
#width_dim.head()
#depth_dim.head()

In [ ]:
final_data_2 = (meaningful_data_5
                     .join(pd.DataFrame(height_dim, columns=['Height']))
                     .join(pd.DataFrame(width_dim, columns=['Width']))
                     .join(pd.DataFrame(depth_dim, columns=['Depth']))
                    )

In [ ]:
final_data_2.head()

In [ ]:
# Inner join the three data sets:
## preprocessed mobile 1 dataset
## preprocessed mobile 2 dataset
## price ranges


price_ranges = pd.read_csv('./data/input/price_ranges.csv', header=0, names=['price_range', 'Min', 'Max'])

joined_data = (final_data_1
               .join(final_data_2,how='inner')
               .join(price_ranges,how='inner',on='price_range',rsuffix='_r')
              )

joined_data.head()

In [ ]:
joined_data.shape

In [ ]:
# Save the final data frame in a file 'ready_for_analysis.csv'

joined_data.to_csv('./data/output/ready_for_analysis.csv')

#### Check also:

* <a href="https://pandas.pydata.org/docs/reference/index.html">API reference</a>
* <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Official cheat sheet</a>